 body {
        font-family: Arial, sans-serif;
        background: #f9f9f9;
        height: 100vh;
        background-color: rgba(24, 182, 214, 0.584);
        display: flex;
        align-items: center;
      }
      .contact-container {
        width: 500px;
        margin: auto;
        background-color: rgba(222, 184, 135, 0.521);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        border: 5px solid whitesmoke;
        border-style: groove;
      }
      h2 {
        text-align: center;
        margin-bottom: 20px;
      }
      .info {
        margin: 15px 0;
      }
      .info strong {
        display: block;
        color: #007bff;
        margin-bottom: 5px;
      }
      button {
        background-color: rgb(5, 21, 21);
        border-radius: 5px;
        padding: 4px;
        border: 2px solid black;
      }
      button a {
        text-decoration: none;
        color: rgb(249, 248, 248);
      }